body {
    background-size: auto;
    color : #333;
    font-size : 16px;
    font-weight : 400;
    line-height : 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffff;
}
body, html {
    margin : 0;
    padding : 0;
}
/*HEADER*/
header {
    width : 100%;
    background-color : #fff;
    /*position: relative;*/
    position : fixed; /*브라우저의 뷰포트 기준 배치*/
    z-index : 9; /*덮이지 않도록 숫자를 높게 설정해서*/
    top : 0;
}
header > .inner {
    height : 120px;
    width : 1300px;
    margin : 0 auto;
    position: relative;
    display: flex; /* 내부 요소를 플렉스 박스로 설정 */
    justify-content: center; /* 수평으로 가운데 정렬 */
    align-items: center;
    
}
header .logo {
    height : auto; 
    position: absolute;
    top : 60px;
    bottom : 0;
    left : 0;
    margin : auto;
    
}
header .sub-menu {
    position : absolute;
    top : 10px;
    right : 0;
    display : flex;
    margin : auto;
    
}
header .sub-menu ul.menu {
    display : flex;
    margin-right: -50px;
    
}
header .sub-menu ul.menu li {
    position: relative;
    bottom : -35px;
    margin-left : 100px;
    list-style: none;
    font-size : 20px;
    display: block;
    color : #3f3f3f;
}

header .sub-menu ul.menu li:first-child::before{
    display : none;
}

header .sub-menu ul.menu li a {
    font-size : 20px;
    padding : 11px 16px;
    display: block;
    color : #3f3f3f;
}


header .sub-menu ul.menu .search {
  height : 34px;
  /*margin-right: -120px;*/
}
header .sub-menu ul.menu .search input {
  width : 36px;
  height : 34px;
  padding : 4px 10px;
  border : 1px solid #ccc;
  box-sizing : border-box;
  border-radius: 5px;
  outline : none;
  background-color : #fff;
  color : #777;
  font-size : 12px;
  transition : width .4s;
}

header .main-menu{
    position: absolute;
    bottom : 0;
    right : 0;
    z-index : 1;
    display : flex;
    
}

header .main-menu .item .item__name {
    padding : 10px 20px 34px 20px;
    font-size : 13px;
}
header .main-menu .item .item__name a {
  text-decoration: none;
}
header .main-menu .item:hover .item__name{ 
    color : #000;
    font-weight: 100px;
    text-decoration: none;
} 
header .main-menu .item .item__contents {
    width : 100%;
    position: fixed;
    left : 0;
    display : none;
}
header .main-menu .item:hover .item__contents{
    display : block;
}

header .main-menu .item .item__contents .contents__menu > ul{
    display : flex;
    padding : 20px 0;

}
header .main-menu .item .item__contents .contents__menu > ul



header .main-menu .item .item__contents .contents__menu .search .material-icons{
    position: relative;
}

header .badges{
    position : absolute; /*부모요소는 header가 된다*/
    top : 132px;
    right : 12px;
}
header .badges .badge{
    border-radius: 10px;
    overflow : hidden;
    margin-bottom : 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor : pointer;
}

.btn {
    width : 130px;
    padding : 10px;
    background-color: #444859;
    border-radius: 20px;
    font-size : 16px;
    font-weight: 700;
    text-align : center;
    cursor : pointer;
    box-sizing : border-box;
    display : block;
}

#btnA{color:white;}

a {
    text-decoration: none;
}

  


/*카드 메인 섹션*/
.maincard-container{
    width:100%;
    height:765px;
    background-color: #333B58;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 상위 컨테이너를 위치의 기준점으로 설정 */
}

.maincard-container p, h1{
    color:#3F3F3F;
}

.maincard-section { /*카드 들어가는 자리*/
    width: 704px;
    height: 287px;
    position: absolute; /* 절대 위치 설정 */
    /*background-color: pink; /* 섹션 배경색 */
    top: 35%; /* 상단으로부터 10%의 위치에 배치 */
    left: 50%; /* 가로 중앙 정렬을 위한 설정 */
    transform: translateX(-50%); /* 정확한 가로 중앙 정렬을 위해 */
}

.maincard-section img {
    position: absolute;
    top: 0;
    left: 0;
    height: 199px;
    width: 313px;
    z-index: 1;
}

.maincard-rectangle { /*하얀색 사각형*/
    width: 658px;
    height: 272px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-content{ /*하얀색 사각형에 글자랑 버튼*/
    /*background-color: peachpuff;*/
    width: 211px;
    height: 152px;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    right: -130px; 
}

.account-name, .account-balance {
    margin: 0; /* 기본 여백 제거 */
}

.maincard-button-container {
    display: flex;
    justify-content: space-between; /* 버튼 사이 간격 */
    width: 100%; /* 전체 너비 사용 */
}
.maincard-card a,
.maincard-transfer a {
    text-decoration: none;
    color: inherit; /* Optional: inherit the color of the button */
}
.maincard-card, .maincard-transfer {
    width: 102px;
    height: 43px;
    background-color: #E9ECF3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    color:#3F3F3F;
    text-decoration: none;
}

.account-name{ /*한동민의 통장*/
    font-size: 18px;
}

.account-balance{ /*금액*/
    font-size: 40px;
}
    

/*광고 박스*/
.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute; /* 절대 위치 설정 */
    width: 100%; 
    height: 70%; 
    top: 65%; 
    z-index: 8; /* maincard-container 위에 오도록 */
}

.ad-box {
    width: 1310px;
    height: 138px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(81, 81, 81, 0.1);
    display: flex;
    align-items: center;
    
}

.ad-content {
    display: flex;
    align-items: center;
    margin: 0 auto; /* 가운데 정렬 */
}

.ad-image {
    width: 55px;
    height: 50px;
    margin-right: 45px; /* 이미지와 텍스트 사이 간격 */
    margin-left:-15px;
}

.ad-image02 { /*기록통장*/
    width: 70px;
    height: 50px;
    margin-right: 40px; /* 이미지와 텍스트 사이 간격 */
    margin-top: 5px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-text, .bottom-text {
    margin: 0;
    line-height: 1.6;
}

.top-text{
    font-size: 18px;
    color: #646464;
}

.bottom-text{
    font-size: 22px;
    color: #3F3F3F;
    font-weight: bold;
}



/*입금내역*/
.cardbox-container {
    width: 100%;
    height: 1173px;
    background-color: #F2F4F8;
    margin: 0 auto;
    position: relative;
    
}


.cardbox-inner {
    width:1304px;
    height: 661px;
    position: relative;
    top: 140px;
    margin: 0 auto; 
}


.cardbox-cash {
    width:1304px;
    height: 661px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(81, 81, 81, 0.1);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cardbox-cash01, .cardbox-cash02, .cardbox-cash03 {
    width: 1304px;
}

.cardbox-cash01 {
    height: 88px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    align-items: center; /* 세로축 가운데 정렬 */
    
}


.search-img,
.setting-img {
    width: 20px; /* 이미지 크기 조정 */
    height: 20px; /* 이미지 크기 조정 */
}

.all-transactions,
.recent-transactions,
.cash-search {
    margin: 0;
    padding: 0 30px;
    font-size: 18px;
    color: #3f3f3f;
}

.all-transactions{margin-left: 40px;} /*전체*/
.under-img{
    margin-right: 50px;
    margin-left: -10px;
}
.search-img{margin-left:80px;}
.cash-search{
    margin-left: -10px;
    margin-right: 440px;
}
.recent-transactions{margin-right:40px;}
.setting-img{margin-left: -50px;}




.cardbox-cash02 {
    height: 485px;
    /*background-color: #99ccff;  Example color */

    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardbox-cash02-01 {
    width: 1157px;
    height: 185px;
    /*background-color: #d8e2dc;  예시 색상 */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D1D1D1;
}

.date-and-bank { /*3월 30일(토)*/
    align-self: flex-start;
    margin-top:30px;
    color:#3F3F3F;
}

.date, .bank-transaction { /*3월 30일(토), 카카오뱅크 → JPY*/
    margin: 0; /* Remove default margins */
    font-size: 19px;
    font-weight: bold;
    color:#3F3F3F;
}

.bank-transaction02 { /*FAMILYMART TOKYO*/
    margin: 0; 
    font-weight: bold;
    color:#3F3F3F;
}

.transaction-details {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 40px;
}

.cardbox-cash02-02 > .transaction-details{margin-top: 50px;}
.cardbox-cash02-03 > .transaction-details{margin-top: 50px;}


.time-rate{
    margin-left: 56px; /*07:52 │ JPY 충전*/
    font-size: 16px;
    color:#3F3F3F;
}

.time-rate02{ /*20:24 │ JPY 결제*/
    margin-left: 56px; 
    font-size: 16px;
    color:#3F3F3F;
}

.exchange-rate{
    margin-left: 56px; /*적용환율 901.61*/
    font-size: 16px;
    color:#3F3F3F;
}


.amount-yellow {
    color: #F7CF00; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 510px;
}

.payment{
    font-size: 20px;
    font-weight: bold;
    margin-left: 700px;
    color:#3F3F3F;
}

.payment02{
    font-size: 20px;
    font-weight: bold;
    margin-left: 660px;
    color:#3F3F3F;
}

.more a{ /*더보기*/
    color:#3F3F3F;
}

.more{
    margin-top: 35px;
    text-align: center;
    font-size: 18px;
}



.cardbox-cash02-02 {
    width: 1157px;
    height: 150px;
    /*background-color: #4caf50;  예시 색상 */
    border-bottom: 1px solid #D1D1D1;
}

.cardbox-cash02-03 {
    width: 1157px;
    height: 150px;
    /*background-color: #2196f3;  예시 색상 */
}




.cardbox-cash03 {
    height: 88px;
    /*background-color: #3e6318;  Example color */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}




/*환율 전체 박스*/
.exchange-container {
    width: 1310px;
    height: 186px;
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
}

.exchange-inner {
    width: 1310px;
    height: 186px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(81, 81, 81, 0.1);
}

.exchange-inner01 {
    width: 1310px;
    height: 113px;
    /*background-color: #aec88c;  예시 색상 */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 10px; /* 바닥에 붙어있게 하기 위한 패딩 */
}

.exchange-inner02 {
    width: 1310px;
    height: 70px; /* 조정된 높이 */
    /* background-color: #c08ce0; 예시 색상 */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.meatball-image {
    width: 33px;
    height: 7px;
}



/*각각 환율 박스*/

.exchange-inner-box01, .exchange-inner-box02, .exchange-inner-box03, .exchange-inner-box04 { 
    width: 175px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: #99ccff;*/
}

.america-image, .japan-image, .eu-image, .china-image {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
}

.exchange-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    margin-left: 82px; /* 45px 이미지 + 37px 간격 */
}


.exchange-top-row {
    display: flex;
    align-items: center;
}

.exchange-up, .exchange-uptext {
    text-align: right;
    color: #D22B2B;
}

.exchange-down, .exchange-downtext {
    text-align: right;
    color: #3C9512;
}

.exchange-up, .exchange-down{
    margin-right: 5px;
    font-size: 11px;
}


.exchange-uptext, .exchange-text2 {
    line-height: 2;
}

.exchange-downtext, .exchange-text2 {
    line-height: 2;
}


.exchange-uptext, .exchange-downtext {
    font-size: 12px; /* 예시 폰트 크기, 필요에 따라 조정 */
}

.exchange-text2 {
    font-size: 18px; /* 예시 폰트 크기, 필요에 따라 조정 */
    font-weight: bold;
    color:#3F3F3F;
}



/*FOOTER*/

footer {
    
    background-color: #D9D9D9;
    background-size: 1440px;
    
  }
  footer .inner {
    padding : 40px 0 60px 0;
  }
  footer .menu {
    display: flex;
    justify-content: center;
  }
  footer .menu li {
    position : relative;
    list-style: none;
  }
  footer .menu li::before {
    
    width : 3px;
    height: 3px;
    background-color: #555;
    position : absolute;
    top : 0;
    bottom :0;
    right : -1px;
    margin : auto;
  }
  footer .menu li:last-child::before {
    display: none;
  }
  footer .menu li a {
    color : #767676;
    font-size : 12px;
    font-weight: 700;
    padding : 15px;
    display: block;
  }
  
  footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  footer .btn-group .btn {
    font-size : 12px;
    margin-right : 10px;
  }
  footer .btn-group .btn:last-child {
    margin-right : 0;
  }
  footer .info {
    
    text-align: center;
  }
  footer .info span {
    margin-right: 20px;
    color : #767676;
    font-size : 12px;
  }
  footer .info span:last-child {
    margin-right : 0;
  }
  footer .copyright {
    color : #767676;
    font-size: 12px;
    text-align: center;
    margin-top : 12px;
  }
  footer .logo {
    float: right;
    margin-top : -60px;
  }


  .inner{
    width : 1100px;
    margin : 0 auto; /*가운데정렬*/
    position : relative;
}




  
