body {
  background-size: auto;
  color : #333;
  font-size : 16px;
  font-weight : 400;
  line-height : 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffff;
}
body, html {
  margin : 0;
  padding : 0;
}

h1 {
    font-weight: bold;
    color : #3F3F3F;
  }
h3 {
  color : #595959;
}
p {
    line-height : 1.8;
    font-size : 18px;
    color : #3F3F3F;
}
  img {
      display: block;
      
  }
  
  a {
      text-decoration: none;
      color : #3f3f3f;
  }
  .inner{
      width : 1100px;
      margin : 0 auto; /*가운데정렬*/
      position : relative;
  }
  .btn {
      width : 130px;
      padding : 10px;
      background-color: #ffff;
      border-radius: 20px;
      color : #ffff;
      font-size : 16px;
      font-weight: 700;
      text-align : center;
      cursor : pointer;
      box-sizing : border-box;
      display : block;
      
  }
  .btn1 {
    width : 130px;
    padding : 10px;
    background-color: #444859;
    border-radius: 20px;
    color : #ffff;
    font-size : 20px;
    font-weight: 700;
    text-align : center;
    cursor : pointer;
    box-sizing : border-box;
    display : block;
    
}


  
  
  /*HEADER*/
  header {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width : 100%;
      background-color : #ffffff;
      /*position: relative;*/
      position : fixed; /*브라우저의 뷰포트 기준 배치*/
      z-index : 9; /*덮이지 않도록 숫자를 높게 설정해서*/
      top : 0;
  }
  header > .inner {
    height : 120px;
    width : 1300px;
    margin : 0 auto;
    position: relative;
    display: flex; /* 내부 요소를 플렉스 박스로 설정 */
    justify-content: center; /* 수평으로 가운데 정렬 */
    align-items: center;
    
}
header .logo {
    height : auto; 
    position: absolute;
    top : 60px;
    bottom : 0;
    left : 0;
    margin : auto;
    
}
header .sub-menu {
    position : absolute;
    top : 10px;
    right : 0;
    display : flex;
    margin : auto;
    
}
header .sub-menu ul.menu {
    display : flex;
    margin-right: -50px;
    
}
header .sub-menu ul.menu li {
    position: relative;
    bottom : -35px;
    margin-left : 100px;
    list-style: none;
    font-size : 20px;
    display: block;
    color : #3f3f3f;
}

header .sub-menu ul.menu li:first-child::before{
    display : none;
}

header .sub-menu ul.menu li a {
    font-size : 20px;
    padding : 11px 16px;
    display: block;
    color : #3f3f3f;
}


header .sub-menu ul.menu .search {
  height : 34px;
  /*margin-right: -120px;*/
}
header .sub-menu ul.menu .search input {
  width : 36px;
  height : 34px;
  padding : 4px 10px;
  border : 1px solid #ccc;
  box-sizing : border-box;
  border-radius: 5px;
  outline : none;
  background-color : #fff;
  color : #777;
  font-size : 12px;
  transition : width .4s;
}

header .main-menu{
    position: absolute;
    bottom : 0;
    right : 0;
    z-index : 1;
    display : flex;
    
}

header .main-menu .item .item__name {
    padding : 10px 20px 34px 20px;
    font-size : 13px;
}
header .main-menu .item .item__name a {
  text-decoration: none;
}
header .main-menu .item:hover .item__name{ 
    color : #000;
    font-weight: 100px;
    text-decoration: none;
} 
header .main-menu .item .item__contents {
    width : 100%;
    position: fixed;
    left : 0;
    display : none;
}
header .main-menu .item:hover .item__contents{
    display : block;
}

header .main-menu .item .item__contents .contents__menu > ul{
    display : flex;
    padding : 20px 0;

}
header .main-menu .item .item__contents .contents__menu > ul



header .main-menu .item .item__contents .contents__menu .search .material-icons{
    position: relative;
}

header .badges{
    position : absolute; /*부모요소는 header가 된다*/
    top : 132px;
    right : 12px;
}
header .badges .badge{
    border-radius: 10px;
    overflow : hidden;
    margin-bottom : 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor : pointer;
}
  
/*VISUAL*/
.visual {
    margin-top: 120px;
    background-color: #F7E600;
    width : 100%;
    height: 600px;
    background-position: center;
    
  }
  .visual .inner {
    position: relative;
    height: 500px;
    font-size : 15px;
    display: flex;
    justify-content: center;
    align-items: center; /* 가로 방향으로 가운데 정렬 */
  }
  
  
  .visual .fade-in_ {
    position: absolute;
    margin : 0 auto;
  }
  .visual .fade-in_ h1 {
    margin-top: -130px;
    font-size: 45px;
  }
  
  .visual .fade-in {
    margin-top : 100px;
    justify-content: center;
    display: flex;
    align-items: center; /* 세로 정렬을 중앙에 위치시킵니다. */
  }
  .visual .fade-in >* {
    margin-bottom: -50px;
  }
  .visual .fade-in1 {
    justify-content: center;
    display: flex;
    align-items: center; /* 세로 정렬을 중앙에 위치시킵니다. */
    margin: 0 auto;
  }
  .visual .fade-in1 > * {
    margin : 100px;
    margin-top : -80px;
  }
  
  
  





  .visual .inner .fade-in .plclass {
    justify-content: center;
    margin : 0 auto;
  }
  .visual .inner .fade-in h1 {
    font-size : 50px;
  }
  .visual .inner .fade-in h3 {
    justify-content: center;
    margin-left : 50px;

  }
  
 
  .visual .title {
    position: absolute;
    top: 88px;
    left: -10px;
    display: flex;
    text-align: center; /* 텍스트를 가운데 정렬 */
 
  }
  .visual .title p {
    text-align: center; /* p 태그 내부 텍스트를 가운데 정렬 */
   
}
  .visual .title .btn {
    position: absolute;
    top: 259px;
    left: 173px;
  }
  .visual .cup1.image {
    position: absolute;
    bottom: 40px;
    right: -47px;
  }
  
  .visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
  }
  
  .visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
    text-align: center;
  }
  .visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
  }
  .visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
  }
  .visual .fade-in {
    top : -80px;
  }



  .rounded-button {
    width: 258px;
    height: 78px;
    border-radius: 50px;
    background-color: #444859;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex; /* flexbox를 사용하여 내부 요소들을 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 10px; /* 좌우 패딩 */
}

#roundButton02{
    width:340px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    position: relative; /* 포지셔닝을 위해 relative 설정 */
    display: flex; /* 센터 정렬을 위한 flex 설정 */
    justify-content: center; /* 가로 중앙 */
    align-items: center; /* 세로 중앙 */
}




.button-text {
    flex-grow: 1;
}


.main01 {
  top : 30px;
  position: relative; /* 또는 absolute */
}
.main01, .main02, .main03, .main04 .main05{
  width: 1440px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 페이지 중앙 정렬 */
}
.main01_inner, .main02_inner,.main03_inner, .main04_inner .main05_inner{
  position: relative;
  width: 1088px;
  margin : 0 auto;
  height: 500px;
  display: flex; /* 내부 div를 가로로 배치 */
}
.main01_inner .section {
  position : absolute;
  width: 100%;
}
.main01_inner .section .imgcon {
  display: flex;
  margin : 0 auto;
  margin-top : -50px;
}
.main01 .imgcon  img {
  width : 500px;
  margin: 150px;
  margin-left: 10px;
}
.main01_inner .section h2{
  margin-left: 330px;
  font-size: 40px;
  line-height : 0.8;
}
.main01_inner .section h2 .green {
  color : green;
}
.main01_inner .section .rounded-button {
  margin: 50px;
  margin-bottom: -80px;
}




.main02{
  margin-top : 200px;
  margin-bottom : 200px;
}
.main02_inner {
  display: flex;
  flex-direction: column; /* 요소들을 수직 방향으로 배치 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
}
.main02_inner .con {
  flex-direction: column;
  align-items: center;
  display: flex;
  text-align: center;
}
.main02_inner .con p {
  color : #595959;
}
.main02_inner .con:first-child {
  left: 0; /* 첫 번째 요소를 왼쪽에 배치 */
  top: 50%; /* 첫 번째 요소를 중간에 배치 */
  transform: translateY(10%); /* 수직 가운데 정렬 */
}
.main02_inner .con:last-child {
  right: 0; /* 두 번째 요소를 오른쪽에 배치 */
  top: 50%; /* 두 번째 요소를 중간에 배치 */
  transform: translateY(50%); /* 수직 가운데 정렬 */
}
.main02_inner .section {
  text-align: center; /* 텍스트를 가운데 정렬 */
  width: 100%;
}
.main02_inner  .imgcon {
  display: flex; /* 요소들을 플렉스 박스로 설정 */
}

.main02_inner .section h2{
  margin : 30px;
  font-size: 40px;
  margin-bottom: 50px; /* h2 요소 아래 여백 추가 */
}
.main02_inner .section .rounded-button {
  margin: 50px;
  margin-bottom: -80px;
}


.main03 {
  width: 100%;
  display: flex;
  justify-content: center;
  top : 30px;
  position: relative; /* 또는 absolute */
}
.main03_inner {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
.main03_inner .section {
  position : absolute;
  width: 100%;
  text-align: center;
}
.main03_inner .section .con {
  display: flex;
  margin : 0 auto;
  text-align: center;
  position: relative;
  justify-content: center;
}
.main03 .con .item p {
  color :#595959;
  font-size : 18px;
}
.main03_inner .section .con .item {
  margin : 70px;
  margin-right: 100px;
  color :#595959;
  font-size : 18px;
}
.con .item:nth-child(3){
  margin-top: 60px !important;
}
.item:nth-child(3) img {
  margin : 15px;
  width : 120px;
  
}
.item:nth-child(3) p {
  margin-top: -20px;
  
}
.main03_inner .section .con .item p{
  position : absolute;
  font-size: 15px;
  margin-left : -5px;
}

.main03_inner .section .imgcon {
  display: flex;
  margin : 0 auto;
  margin-top : -50px;
}
.main03_inner .section .imgcon img {
  width : 100px;
  margin: 150px;
  margin-left: 10px;
}

.main03  .button_image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 버튼 간격을 조절하고 싶으면 이 값을 조정하세요 */
  
}
.main03_inner .section h2{
  font-size: 40px;
  line-height : 1.8;
  color : #3F3F3F;
}
.main03 .section h2 span {
  color: #FADD00; /* 노란색 적용 */
}
.main03_inner .section .rounded-button {
  margin: 50px;
  margin-bottom: -80px;
}

.main05 {
  margin : 200px;
  margin-bottom : 200px;
}
.main05_inner {
  width: 100%;
  display: flex;
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
}
.main05_inner .section h1 {
  margin-left: 40px;
  font-size: 35px;
  
}

.main05_inner  .con{
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  
}
.main05_inner .qcon {
  width : 490px;
  height: 314px;
  margin : 30px;
  padding : 30px;
  border-radius: 20px;
  border: 1px solid #C6C6C6;
}
.main05_inner .qcon span {
  font-size: 20px;
  font-weight: bold;
}
.main05_inner .qcon:first-child h3 {
  margin-top : 30px;
  color : #3F3F3F;
}
.main05_inner .qcon:first-child p {
  margin-top : 40px;
  color : #3F3F3F;
}

  /*FOOTER*/

footer {
    width : 100%;
    background-color: #D9D9D9;
    background-size: 1440px;

  }
  footer .inner {
    padding : 40px 0 60px 0;
  }
  footer .menu {
    display: flex;
    justify-content: center;
  }
  footer .menu li {
    position : relative;
    list-style: none;
  }
  footer .menu li::before {
    
    width : 3px;
    height: 3px;
    background-color: #555;
    position : absolute;
    top : 0;
    bottom :0;
    right : -1px;
    margin : auto;
  }
  footer .menu li:last-child::before {
    display: none;
  }
  footer .menu li a {
    color : #767676;
    font-size : 12px;
    font-weight: 700;
    padding : 15px;
    display: block;
  }
  
  footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  footer .btn-group .btn {
    font-size : 12px;
    margin-right : 10px;
  }
  footer .btn-group .btn:last-child {
    margin-right : 0;
  }
  footer .info {
    
    text-align: center;
  }
  footer .info span {
    margin-right: 20px;
    color : #767676;
    font-size : 12px;
  }
  footer .info span:last-child {
    margin-right : 0;
  }
  footer .copyright {
    color : #767676;
    font-size: 12px;
    text-align: center;
    margin-top : 12px;
  }
  footer .logo {
    float: right;
    margin-top : -50px;
  }


