body {
  background-size: auto;
  color : #333;
  font-size : 16px;
  font-weight : 400;
  line-height : 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffff;
}
body, html {
  margin : 0;
  padding : 0;
}

h1 {
    font-weight: bold;
    color : #3F3F3F;
  }
h3 {
  color : #595959;
}
p {
    line-height : 1.8;
    font-size : 18px;
    color : #3F3F3F;
}
  img {
      display: block;
      
  }
  
  a {
      text-decoration: none;
      color : #3f3f3f;
  }

  .rounded-button {
    width: 150px;
    height: 52px;
    border-radius: 50px;
    background-color: #444859;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex; /* flexbox를 사용하여 내부 요소들을 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
.button-text {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#roundButton01{
    width:150px;
}
#roundButton02{
    width:150px;
    height: 50px;
    background-color: #ffffff;
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    position: relative; /* 포지셔닝을 위해 relative 설정 */
    display: flex; /* 센터 정렬을 위한 flex 설정 */
    justify-content: center; /* 가로 중앙 */
    align-items: center; /* 세로 중앙 */
}

  .inner{
      width : 1100px;
      margin : 0 auto; /*가운데정렬*/
      position : relative;
  }
  .btn {
      width : 130px;
      padding : 10px;
      background-color: #ffff;
      border-radius: 20px;
      color : #ffff;
      font-size : 16px;
      font-weight: 700;
      text-align : center;
      cursor : pointer;
      box-sizing : border-box;
      display : block;
      
  }
  .btn1 {
    width : 130px;
    padding : 10px;
    background-color: #444859;
    border-radius: 20px;
    color : #ffff;
    font-size : 20px;
    font-weight: 700;
    text-align : center;
    cursor : pointer;
    box-sizing : border-box;
    display : block;
    
}


 /*HEADER*/
 header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width : 100%;
  background-color : #ffff;
  /*position: relative;*/
  position : fixed; /*브라우저의 뷰포트 기준 배치*/
  z-index : 9; /*덮이지 않도록 숫자를 높게 설정해서*/
  top : 0;
}
header > .inner {
  height : 120px;
  width : 1300px;
  margin : 0 auto;
  position: relative;
  display: flex; /* 내부 요소를 플렉스 박스로 설정 */
  justify-content: center; /* 수평으로 가운데 정렬 */
  align-items: center;
  
}
header .logo {
  height : auto; 
  position: absolute;
  top : 60px;
  bottom : 0;
  left : 0;
  margin : auto;
  
}
header .sub-menu {
  position : absolute;
  top : 10px;
  right : 0;
  display : flex;
  margin : auto;
  
}
header .sub-menu ul.menu {
  display : flex;
  margin-right: -50px;
  
}
header .sub-menu ul.menu li {
  position: relative;
  bottom : -35px;
  margin-left : 100px;
  list-style: none;
  font-size : 20px;
  display: block;
  color : #3f3f3f;
}

header .sub-menu ul.menu li:first-child::before{
  display : none;
}

header .sub-menu ul.menu li a {
  font-size : 20px;
  padding : 11px 16px;
  display: block;
  color : #3f3f3f;
}

header .sub-menu .search {
height : 34px;
color : #ffff;
/*margin-right: -120px;*/
}
header .sub-menu ul.menu .search input {
width : 36px;
height : 34px;
padding : 4px 10px;
border : 1px solid #ccc;
box-sizing : border-box;
border-radius: 5px;
outline : none;
background-color : #fff;
color : #777;
font-size : 12px;
transition : width .4s;
}

header .main-menu{
  position: absolute;
  bottom : 0;
  right : 0;
  z-index : 1;
  display : flex;
  
}

header .main-menu .item .item__name {
  padding : 10px 20px 34px 20px;
  font-size : 13px;
}
header .main-menu .item .item__name a {
text-decoration: none;
}
header .main-menu .item:hover .item__name{ 
  color : #000;
  font-weight: 100px;
  text-decoration: none;
} 
header .main-menu .item .item__contents {
  width : 100%;
  position: fixed;
  left : 0;
  display : none;
}
header .main-menu .item:hover .item__contents{
  display : block;
}

header .main-menu .item .item__contents .contents__menu > ul{
  display : flex;
  padding : 20px 0;

}



header .main-menu .item .item__contents .contents__menu .search .material-icons{
  position: relative;
}

header .badges{
  position : absolute; /*부모요소는 header가 된다*/
  top : 132px;
  right : 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow : hidden;
  margin-bottom : 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor : pointer;
}



/*VISUAL*/
.visual {
    margin-top: 120px;
    width : 100%;
    height: 600px;
    background-position: center;
    display: flex;
  }
  .visual .inner {
    position: relative;
    width : 100%;
    font-size : 15px;
    display: flex;
    justify-content: center;
    align-items: center; /* 가로 방향으로 가운데 정렬 */
  }
  
  
  .visual .fade-in_ {
    position: absolute;
    display: flex;
    gap : 100px;
  }
  .visual .fade-in_ img {
    
}
  .visual .fade-in_ h1 {
    margin-top : 120px;
    font-size: 45px;
  }
  .visual .fade-in_ >* {
    
  }
  .visual .fade-in .btndiv {
    display: flex;
    gap : 10px;
    
  }
  

  /*VISUAL2*/
.visual2 {
    background-color: #FF855F;
    width : 100%;
    height: 400px;
    background-position: center;
    display: flex;
  }
  .visual2 .inner {
    
    width : 100%;
    font-size : 15px;
    justify-content: center;
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    height: 100%;
  }
  
  
  .visual2 .fade-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    margin-left : -300px;
    margin-top: 30px;
  }
  .visual2 .con img {
    
    margin-left: 1050px;
    margin-top: -350px;
}
  .visual2 .fade-in h1 {
    color : #ffff;
    font-size: 45px;
  }
  .visual2 .fade-in p {
    color : #ffff;
  }
  .visual2 .fade-in .btndiv {
    display: flex;
    gap : 10px;
  }
  .visual2 .fade-in .btndiv .button-text {
    color : #3F3F3F;
    font-size : 17px;
  }
  

/*VISUAL3*/
.visual3 {
    background-color: #F6F6F7;
    width : 100%;
    height: 500px;
    background-position: center;
    display: flex;
  }
  .visual3 .inner {
    position: relative;
    width : 100%;
    height: 300px;
    margin : 0 auto;
    margin : 50px;
    margin-top: 30px;
    margin-left: -30px;
    font-size : 15px;
    display: flex;
    justify-content: center;
    gap : 200px;
  }
  
  
.visual3 .fade-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin : 20px;
    padding: 30px; /* 요소 내부에 여백 추가 */
}
.visual3 .fade-in_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin : 20px;
    padding: 30px; /* 요소 내부에 여백 추가 */
}
.visual3 .fade-in .fade-in-class {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start; /* 요소들이 위쪽에서부터 정렬되도록 설정 */
    gap : 100px;
}
.visual3 .fade-in-class .divin {
    margin : 30px;
}
.visual3 .fade-in-class .divin:first-child {
    margin-top: -30px;
}
.visual3 .fade-in-class .divin:first-child p {
    margin-top : -20px;
}
.visual3 .fade-in_ .fade-in-class .divin img {
    margin-top: 55px;
}
.visual3 .fade-in_ .fade-in-class .divin p {
    margin : 5px;
}
.visual3 .fade-in .fade-in-class .divin span p{
  color : #FF2A2A;
}
.visual3 .fade-in .fade-in-class .divin span p{
  margin-top: 20px;
}
.visual3 .fade-in_ .fade-in-class .divin span p{
  margin-top: 20px;
}
.visual3 .fade-in_ .fade-in-class .divin span p{
  color : #2A3FFF;
}
  .visual3 .fade-in h3 {
    color : #595959;
    font-size: 30px;
  }
  .visual3 .fade-in,.fade-in_ p {
    color : #595959;
    font-weight: bold;
  }
  .visual3 .fade-in .btndiv {
    display: flex;
    gap : 10px;
  }
  .visual3 .fade-in .btndiv .button-text {
    color : #3F3F3F;
    font-size : 17px;
  }


 .visual3 .fade-in_ h3 {
    color : #595959;
    font-size: 30px;
  }
  .visual3 .fade-in_ p {
    color : #595959;
  }
  

  /*notice line*/
  

 
.notice .notice-line .inner {
   
    width: 100%;
    
    /* 자식요소 수평 display : flex; */
    
  }
  .notice .notice-line .inner_left {
    margin : 0 auto;
    width : 100%;
  }
  .notice .notice-line .inner_left .con {
      height : 120px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff; /* 컨테이너 배경색 */
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
      border-radius: 10px;
  }
  .notice .notice-line .inner_left .con .item {
      flex-grow: 1; /* 모든 항목이 동등하게 공간 차지 */
      text-align: center; /* 텍스트 중앙 정렬 */
      padding: 10px; /* 항목 내부 패딩 */
      font-size: 16px; /* 글자 크기 */
      color: #333; /* 글자 색상 */
  }
  
  .notice .notice-line .inner_left .con .item a{
    color : #3f3f3f;
    font-size : 20px;
    margin-right : 40px; 
  }
  .notice .notice-line .inner_left .con .item a:hover {
    color : #000;
    font-weight: bold;
  }
  .notice .notice-line .inner_left h2 {
    color : #fff;
    font-size : 17px;
    font-weight : 700;
    margin-right : 20px;
  }
  .notice .notice-line .inner_left .swiper-container {
    height : 62px;
    flex-grow : 1;
  }
  .notice .notice-line .inner_left .swiper-slide{
    height : 62px;
    display : flex;
    align-items: center;
  }
  .notice .notice-line .inner_left .swiper-container a {
    color : #6f6f6f;
  }
  .notice .notice-line .inner_left .notice-line__more {
    width : 62px;
    height : 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice .notice-line .inner_left .notice-line__more .material-icons {
    color : #fff;
    font-size : 30px;
  }
  
  .notice .notice-line .inner_right h2 {
    font-size: 17px;
    font-weight: 700;
  }
  
  
  

/*main01*/
.main01{
    width: 100%; /*1440px*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 페이지 중앙 정렬 */
}

.main01_inner{
  width: 100%;
  display: flex; /* 내부 div를 가로로 배치 */
  flex-direction: column;
}
.main01_inner h3 {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

.main01  p {
  color : #595959;
  font-weight: lighter;
  font-size: 25px;
}
.main01 .fontdiv {
  margin: 0 auto;
  width : 1300px;
  display: flex;
  gap : 100px;
}
table {
  width: 100%;
  border-spacing: 10px; /* Space between cells */
}
th, td {
  padding: 5px; /* Padding inside each cell */
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.h2con h2 {
  text-align: center;
  font-weight: bold;
  color : #595959;
}
#blue p {
  color : blue;
}
#red p {
  color : red;
}

/*main02*/
.main02{
  width: auto; /*1440px*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top : 40px;
}

.main02_inner{
  width: 100%;
  display: flex; /* 내부 div를 가로로 배치 */
  background-color: #444444;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.main02 .container {
  margin : 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main02 .container h2 {
  font-size: 35px;
  color : #ffff;
}
.main02 .container .won{
  margin : 30px;
  width : 400px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffff;
}
.main02 .container .won img { 
  margin: 15px;
  margin-left: 25px;
  text-align: center;
  float: left;
}

.footcon{
  margin: 40px;
  text-align: center;
}
.footcon p{
  color : #656565;
  font-size: 15px;
}


/*FOOTER*/

footer {
    
  background-color: #D9D9D9;
  background-size: 1440px;
  
}
footer .inner {
  padding : 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position : relative;
  list-style: none;
}
footer .menu li::before {
  
  width : 3px;
  height: 3px;
  background-color: #555;
  position : absolute;
  top : 0;
  bottom :0;
  right : -1px;
  margin : auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  color : #767676;
  font-size : 12px;
  font-weight: 700;
  padding : 15px;
  display: block;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size : 12px;
  margin-right : 10px;
}
footer .btn-group .btn:last-child {
  margin-right : 0;
}
footer .info {
  
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color : #767676;
  font-size : 12px;
}
footer .info span:last-child {
  margin-right : 0;
}
footer .copyright {
  color : #767676;
  font-size: 12px;
  text-align: center;
  margin-top : 12px;
}
footer .logo {
  float: right;
  margin-top : -100px;
  margin-right: 350px;
  
}



